.popup__container {
  padding: 34px 31px 37px 41px;
  max-width: 358px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  margin: auto;
}

@media (max-width: 640px) {
  .popup__container {
    max-width: 238px;
    padding: 25px 22px;
  }
}
